<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eq62roket.mtracpro">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.AptActivity"
            android:label="APT."
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MatActivity"
            android:label="MAT."
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ArvActivity"
            android:label="ARV."
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.TraActivity"
            android:label="TRA."
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.DeathActivity"
            android:label="DEATH."
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.CasesActivity"
            android:label="CASES."
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.IptActivity"
            android:label="IPT."
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.LogoutActivity"
            android:label="Logout" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="mTracApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HistoryActivity"
            android:label="History"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AboutActivity"
            android:label="About"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.MohActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:label="MoH Bulletin"></activity>
    </application>

</manifest>